.navbar-header {
    background-color: #00a572;
    color: white;
    height: 6.5vh;
    padding-left: 2vh;
    padding-top:1.3vh;
    text-align: left;
}
.navbar-title {
    font-size: 1.5em;
    font-family: 'Lobster', sans-serif;
}
  
.navbar-intro {
    font-size: large;
}
.navbar-profilePic{
    float:right;
}
.navbar-profile{
    float:right;
    margin-right: 3vh;
    margin-top: 1vh;
}